<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <h1 class="text-light primary py-3">STUDENT MANAGEMENT</h1>
        
        <div class="d-flex">
            <button class="btn btn-success "data-toggle="modal" data-target="#exampleModal">Add student</button>&nbsp;
            <button class="btn btn-warning"> Logout</button>
        </div>
         
         
    </div>
</nav>
<!-- table -->
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">S.Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">City</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        <td>q</td>
        <td>qdd</td>
        <td>fdfd</td>
        <td>fdfd</td>
        <td>fdfd</td>
        <td><button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Edit</button>&nbsp;
            <button class="btn btn-danger">Delete </button>
        </td>
    </tbody>
</table>
<!-- button trigger modal -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div style="background:blue;" class="modal-header">
          <h5  style="color:aliceblue;font-size: 26px;margin-left: 62px;font-weight: 620;" class="modal-title" id="exampleModalLabel">Student Management</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- https://www.youtube.com/watch?v=byIlBEQQ4Zk -->